@tailwind base;
@tailwind components;
@tailwind utilities;

.crimson {
  font-family: "Crimson Pro", serif !important;
}

.josefin {
  font-family: "Josefin Sans", sans-serif !important;
}

.antonio {
  font-family: "Antonio", sans-serif !important;
}
